*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: noh;
    src: url("/noh.ttf");
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #070410;
    /* background-color: #645c7b; */

    font-family: noh;
}