/* From Uiverse.io by vinodjangid07 */


.side-bar {
    width: 100%;
    max-height: 100vh;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 1000;

    .hamburger {
        margin: 2vw;
        width: 4vw;
        height: 1vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
            width: 100%;
            height: 2px;
            background-color: white;
        }
    }
}

.content2 {
    // background-color: rgba(121, 106, 106, 0.1);
    // backdrop-filter: blur(10px);
    height: 100vh;
    width: 20vw;



}

nav.nav1 {
    width: 100%;

    ul {
        list-style: none;
        margin: 0;
        padding: 3vw 0;


        h2 {
            font-size: 1vw;
            font-weight: 200;
            padding: 0 1.5vw;
        }

        li {
            font-size: 1.3vw;
            cursor: pointer;
            padding: 1vw 0vw;
            position: relative;
            margin-left: 1vw;
            width: 95%;
            height: fit-content;
            overflow: hidden;

            a {
                color: #ffffff;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 100%;
                padding: 0 1.5vw;
            }

            &:hover::before {
                top: 0%;

            }

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top: 100%;
                transition: all .3s ease;
                background-color: #070410;
                z-index: -1;
            }

        }
    }
}

@media (max-width: 768px) {

    .content2 {
        width: 100vw;
        padding: 3vh;
    }

    nav.nav1 {
        width: 100%;

        ul {
            list-style: none;
            margin: 0;
            padding: 6vh 0;

            h2 {
                font-size: 2vh;
            }

            li {
                cursor: pointer;
                padding: 1vw 0vw;
                position: relative;
                margin-left: 3vh;
                width: 95%;
                height: fit-content;
                overflow: hidden;

                a {
                    padding: 0 1.5vw;
                    font-size: 3vh !important;
                }
            }
        }
    }
}